@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    min-width: 150px;
    margin-block: 30px;
    position: fixed;
    display: none;
    justify-content: center;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $brown;
    transition: 0.1s ease-out;
    background-color: $gold;
    border: solid $brown 2px !important;

    &:hover {
        background-color: $sand;
    }

    @include breakpoint($medium-up) {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%);
        width: initial;
        margin-block: 0px;
        text-align: center;
    }
}

.flex {
    display: flex;
}
