@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    min-width: 150px;
    margin-block: 30px;
    position: fixed;
    display: none;
    justify-content: center;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint($medium-up) {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%);
        width: initial;
        margin-block: 0px;
        border: solid $dark-gray 2px !important;
        text-align: center;
    }
}

.flex {
    display: flex;
}
