@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    width: 100%;
    .information {
        margin-block: 10px;
        display: flex;
        justify-content: center;
        width: 100%;

        .left {
            text-align: right;
            padding-right: 2%;
            border-right: 1px solid $gray;
        }

        .right {
            text-align: left;
            padding-left: 2%;
            border-left: 1px solid $gray;
        }

        .left,
        .right {
            width: 100%;
        }
    }

    .previous {
        background-color: $t-black;
        border-radius: 30px;
        padding: 20px 10px;
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        transition: linear 0.1s;
        cursor: help;

        &:hover {
            scale: 1.1;
            background-color: $black;
            box-shadow: 0px 0px 5px 1px rgb(99, 99, 99);
        }

        @include breakpoint($medium-up) {
            width: 40%;
        }

        .left,
        .right {
            border-color: $gray;
        }
    }
}
