@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    position: fixed;
    bottom: -50%;
    background-color: $mustard;
    color: $peach;
    height: 50%;
    left: 0;
    right: 0;
    padding-block: 40px;
    border-top: 2px solid $dark-gray;
    transition: 1s;
    z-index: 1;
    overflow-y: scroll;
    text-align: center;

    @include breakpoint($medium-up) {
        bottom: -40%;
        height: 40%;
    }

    p {
        margin-inline: 20px;
        @include breakpoint($medium-up) {
            margin-inline: 30%;
        }
    }
}
