@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    background-color: $sand;
    border-radius: 10px;
    border: 3px solid $brown;
    padding: 20px 10px;
    margin: 0 auto;
    margin-top: 40px;
    transition: linear 0.1s;
    cursor: help;
    width: 90%;

    h3 {
        color: $brown;
    }

    &:hover {
        scale: 1.1;
        background-color: $gold;
    }

    @include breakpoint($medium-up) {
        width: 40%;
    }
}
