@import "base.scss";
@import "colors.scss";
@import "breakpoints.scss";

.notification {
    position: fixed;
    background-color: $gold;
    color: $brown;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 1000;
    padding-inline: 40px;
    border: 4px solid $brown;

    @include breakpoint($medium-up) {
        top: 480px;
        width: 800px;
        height: 300px;
    }

    h4 {
        text-align: center;
        color: $brown;
        font-size: $font-medium;
        @include breakpoint($small-up) {
            font-size: $font-intermediate;
        }
        p {
            color: $brown;
            font-size: $font-medium;
            @include breakpoint($small-up) {
                font-size: $font-intermediate;
            }
        }

        a {
            text-decoration: underline;
            color: $brown;
            font-size: $font-medium;
            @include breakpoint($small-up) {
                font-size: $font-intermediate;
            }
        }
    }

    .cross {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

.none {
    display: none;
}
