$peach: rgb(255, 218, 185);
$pink: rgb(255, 192, 203);
$mustard: rgb(241, 212, 105);
$gold: rgb(255, 215, 0);
$magenta: rgb(255, 0, 255);
$purple: rgb(110, 55, 219);
$gray: rgba(70, 69, 69, 0.541);
$dark-gray: rgb(70, 69, 69);
