@import "breakpoints.scss";
@import "colors.scss";
@import "base.scss";
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=VT323&display=swap");

html body {
    margin: 0;
    padding: 0;
    background: linear-gradient($black, $blue);
    min-height: 100vh;
}

* {
    color: $white;
    font-size: $font-medium;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    @include breakpoint($small-up) {
        font-size: $font-intermediate;
    }
}

main {
    position: relative;
    padding-bottom: 120px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    letter-spacing: 4px;
    font-size: $font-large;

    @include breakpoint($small-up) {
        font-size: $font-xl-large;
    }
}

h2 {
    font-size: $font-intermediate;

    @include breakpoint($small-up) {
        font-size: $font-x-large;
    }
}

h3 {
    font-size: $font-intermediate;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    opacity: 0;
    z-index: 1000;
    border-top: none;
    width: 16px;
    padding: 2px;
    background-color: $blue;
}

::-webkit-scrollbar-thumb {
    background: $black;
    border-radius: 20px;
}
