@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;

    .cageInput {
        margin-bottom: 10px;
    }

    .cageAction {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        @include breakpoint($medium-up) {
            width: 40%;
        }

        .mint {
            width: 50%;
            position: absolute;
            float: left;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            transition: all 0.5s ease-in-out, z-index 2s, background-color 6s;
            background-color: rgba(151, 110, 59, 0.527);
            z-index: 0;
            border-right: 1px solid $brown;

            &:hover {
                background-color: rgb(151, 110, 59);
                transition: all 0.5s ease-in-out, z-index 0s,
                    background-color 0s;
                width: 100%;
                z-index: 1;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-right: 0;
            }
        }

        .burn {
            width: 50%;
            position: relative;
            float: right;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition: all 0.5s ease-in-out, background-color 6s;
            background-color: rgba(206, 149, 80, 0.527);
            z-index: 0;
            border-left: 1px solid $brown;

            &:hover {
                background-color: rgb(206, 149, 80);
                transition: all 0.5s ease-in-out, background-color 0s;
                width: 100%;
                z-index: 1;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-left: 0;
            }
        }
    }
}
