@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    margin-top: 40px;
    text-align: center;
    @include breakpoint($medium-up) {
        width: 60%;
    }

    .input {
        width: 100%;
        margin-bottom: 10px;
        input {
            text-align: left;
        }

        svg {
            display: none;
        }
    }

    .message {
        width: 100%;
        height: 240px;
        background-color: $peach;
        outline: 0;
        border: 1px solid $dark-gray;
        border-radius: 10px;
        margin-bottom: 6px;
        padding: 20px 14px;
        color: $dark-gray;

        &::placeholder {
            color: $gray;
        }

        &:hover {
            background-color: $mustard;
        }
    }

    .submit {
        width: 100%;
        border: 2px solid $dark-gray;
    }
}
