@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    margin-top: 40px;
    text-align: center;
    @include breakpoint($medium-up) {
        width: 60%;
    }

    .input {
        width: 100%;
        margin-bottom: 10px;

        input {
            text-align: left;
            border: 3px solid $brown;
        }

        svg {
            display: none;
        }
    }

    .message {
        width: 100%;
        height: 240px;
        background-color: $sand;
        outline: 0;
        border: 3px solid $brown;
        border-radius: 10px;
        margin-bottom: 6px;
        padding: 20px 14px;
        color: $brown;

        &::placeholder {
            color: $brown;
        }

        &:hover {
            background-color: $gold;
        }
    }

    .submit {
        width: 100%;
        border: 2px solid $sand;
        color: $sand;
        background-color: $brown;
        &:hover {
            border: 2px solid $brown;
            background-color: $gold;
            color: $brown;
        }
    }
}
