@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.root {
    cursor: pointer;

    .watchTokenImg {
        animation: rotation 2s infinite linear;
    }

    .info {
        padding-top: 0;
        border-top: 0px;
    }

    &:hover {
        .info {
            padding: inherit;
            height: 25%;
            padding-top: 60px;
            border-top: 2px solid $dark-gray;
        }
    }
}
