@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.root {
    cursor: pointer;

    .img {
        animation: rotation 2s infinite linear;
    }

    .info {
        position: absolute;
        display: none;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        border-radius: 4px;
        border: 2px solid $dark-gray;
        background-color: $purple;
        padding: 20px;
        top: 340px;
        text-align: center;
        @include breakpoint($medium-up) {
            top: 300px;
            width: 400px;
        }

        p {
            color: $mustard;
        }
    }

    &:hover {
        .info {
            display: block;
        }
    }
}
