@import "colors.scss";
@import "breakpoints.scss";

.root {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    @include breakpoint($medium-up) {
        width: 40%;
    }

    .input {
        width: 100%;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        border: 0.5px solid $dark-gray;
        background-color: $peach;
        outline: 0;
        text-align: right;
        color: $dark-gray;

        &:hover {
            background-color: $mustard;
        }

        &::placeholder {
            color: $gray;
        }
    }

    .clearInput {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 11px;
        left: 1%;
        cursor: pointer;
        @include breakpoint($small-up) {
            padding: 14px;
        }
    }
}
