@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    position: fixed;
    top: 120px;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $pink;
    padding-bottom: 160px;
    background-color: $peach;
    border-bottom: 1px solid $dark-gray;
    color: $purple;
    @include breakpoint($medium-up) {
        flex-direction: row;
        position: initial;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        background-color: $purple;
        border-bottom: none;
        padding-bottom: 0;
    }

    .navigation {
        width: 100%;
        padding: 0;
        margin: 0;
        @include breakpoint($medium-up) {
            display: flex;
            width: 80%;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            gap: 14px;
        }
    }

    .navItem {
        @include centered-flex;
        height: 65px;
        background-color: $pink;
        @include breakpoint($medium-up) {
            background-color: $purple;
        }
        :hover {
            background-color: $mustard;
        }

        .paths {
            @include centered-flex;
            text-transform: uppercase;
            border-bottom: 0.1px solid $dark-gray;
            min-width: 90px;

            @include breakpoint($medium-up) {
                border: 2px solid $dark-gray;
                border-radius: 6px;
                background-color: $mustard;

                &:hover {
                    background-color: $gold;
                }
            }
        }

        .disabled {
            pointer-events: none;
            color: $gray;
        }
    }
}
