@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.description {
    margin-top: 60px;
    text-align: center;

    @include breakpoint($medium-up) {
        width: 70%;
    }

    a {
        text-transform: uppercase;
        background-color: $mustard;
        border: solid $dark-gray 1px;
        border-radius: 6px;
        padding: 1px 24px;

        &:hover {
            background-color: $gold;
            border: solid $dark-gray 2px;
            padding: 0px 23px;
        }
    }
}

.pageInfoWrapper {
    margin-top: 60px;
    .infoIcon {
        width: 40px;
        cursor: help;
    }

    &:hover {
        .info {
            bottom: 0;
        }
    }
}
