@import "colors.scss";
@import "mixins.scss";
@import "base.scss";
@import "breakpoints.scss";

.description {
    text-align: center;

    @include breakpoint($medium-up) {
        width: 40%;
    }

    a {
        text-decoration: underline;
    }
}

.pageInfoWrapper {
    margin-top: 60px;
    .infoIcon {
        width: 40px;
        cursor: help;
    }

    &:hover {
        .info {
            bottom: 0;
        }
    }
}
