@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    position: fixed;
    width: 100%;
    padding-inline: 3%;
    color: $brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    background-color: rgb(187, 136, 88);
    height: 100px;
    font-weight: 600;
    z-index: 1;
}
