@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    position: fixed;
    width: 100%;
    padding-inline: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
    background-color: $brown;
    height: 120px;
    border-bottom: 1px solid $sand;
    font-weight: 600;
    z-index: 1;
}
