@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;

    .lotteryInput {
        margin-bottom: 10px;
    }

    .lotteryAction {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        @include breakpoint($medium-up) {
            width: 40%;
        }
    }

    .approve {
        &:after {
            content: "FUND";
        }

        &:hover:after {
            content: "ENABLE CSN";
        }
    }

    .fund,
    .approve {
        border: 3px solid $gold;
        width: 50%;
        position: absolute;
        float: left;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: all 0.3s ease-in-out, z-index 2s, background-color 1s;
        background-color: $green;
        z-index: 0;
        border-right: 1px solid $gold;

        &:hover {
            color: $brown;
            background-color: $gold;
            transition: all 0.3s ease-in-out, z-index 0s, background-color 1s;
            width: 100%;
            z-index: 1;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-right: 0;
            border: 3px solid $brown;
        }
    }

    .withdraw {
        border: 3px solid $gold;
        width: 50%;
        position: relative;
        float: right;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.3s ease-in-out, background-color 1s;
        background-color: $green;
        z-index: 0;
        border-left: 1px solid $gold;

        &:hover {
            color: $brown;
            background-color: $gold;
            transition: all 0.3s ease-in-out, background-color 1s;
            width: 100%;
            z-index: 1;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 3px solid $brown;
        }
    }
}
