@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.networkBtn {
    min-width: fit-content;
    margin-block: 30px;
    position: fixed;
    top: 490px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include breakpoint($medium-up) {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%);
    }

    .networkBtnText {
        white-space: nowrap;
    }

    .arrowUp,
    .arrowDown {
        width: 15px;
    }

    .arrowUp {
        transform: rotate(180deg);
    }
}

.networksDropdown {
    position: absolute;
    background-color: $black;
    border-radius: 20px;
    padding: 10px 20px;
    top: 390px;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 1px rgb(99, 99, 99);
    flex-direction: column;
    gap: 4px;

    @include breakpoint($small-up) {
        top: 676px;
    }

    @include breakpoint($medium-up) {
        top: 90px;
        right: 3%;
        left: initial;
        transform: translate(0%, 0%);
    }

    .network {
        border-radius: 20px;
        padding: 10px 20px;
        text-align: center;
        margin-block: 3px;

        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 5px 1px rgb(99, 99, 99);
        }
    }

    .selectedNetwork {
        background-color: $blue;
        box-shadow: 0px 0px 5px 1px rgb(99, 99, 99);
    }
}
