@import "colors.scss";
@import "mixins.scss";
@import "breakpoints.scss";

.networkBtn {
    min-width: 155px;
    margin-block: 30px;
    position: fixed;
    top: 440px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include breakpoint($medium-up) {
        display: flex;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0%);
        border: solid $dark-gray 2px !important;
    }

    .networkBtnText {
        white-space: nowrap;
    }

    .arrowUp,
    .arrowDown {
        width: 15px;
    }

    .arrowUp {
        transform: rotate(180deg);
    }
}

.networksDropdown {
    position: absolute;
    background-color: $peach;
    border-radius: 6px;
    padding: 10px 20px;
    top: 366px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid $dark-gray;

    @include breakpoint($small-up) {
        top: 640px;
    }

    @include breakpoint($medium-up) {
        top: 90px;
        right: 3%;
        left: initial;
        transform: translate(0%, 0%);
    }

    .network {
        border-radius: 10px;
        padding: 10px 20px;
        text-align: center;
        border: 0.5px solid $peach;
        margin-block: 3px;

        cursor: pointer;
        &:hover {
            background-color: $gold;
            border: 0.5px solid $dark-gray;
        }
    }

    .selectedNetwork {
        background-color: $mustard;
        border: 0.5px solid $dark-gray;
    }
}

.flex {
    display: flex;
}
