.root {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(121, 82, 30, 0.445);
    padding: 10px 20px;

    &:hover {
        background-color: rgba(202, 138, 55, 0.445);
    }
}
