@import "colors.scss";

.root {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $mustard;
    border: 0.5px solid $dark-gray;
    padding: 10px 20px;

    &:hover {
        background-color: $gold;
    }
}
