@import "colors.scss";

.root {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: $gold;
    border: 1px solid $gold;
    padding: 10px 20px;

    &:hover {
        background-color: $gold;
    }
}
